USE [master]
GO
/****** Object:  Database [pieChart]    Script Date: 8/8/2020 12:30:48 AM ******/
CREATE DATABASE [pieChart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pieChart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\pieChart.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pieChart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\pieChart_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pieChart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pieChart]
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 8/8/2020 12:30:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR](
	[CAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[YEAR] [nvarchar](50) NULL,
	[PRODUCING_COUNTRY] [nvarchar](50) NULL,
 CONSTRAINT [PK_CAR] PRIMARY KEY CLUSTERED 
(
	[CAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
